
.btn{
    background-color: grey;
    color: white;
    font-size: 20px;
}

h1{
    text-align: center;
    color: powderblue;
}

.allbdy{
    background-color: beige;
}

ul {
    margin-top: 50px;
}

img {
    border-bottom: 4px solid gray;
    border-top: 4px solid gray;
    border-left: 4px solid blue;
    border-right: 4px solid red;
    margin: 0px 34em;
}

  
